SOA/tp2/untitled/src/main/java/org/example/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="message" type="message"/>

  <xs:complexType name="message">
    <xs:sequence>
      <xs:element name="destinataire" type="xs:string" minOccurs="0"/>
      <xs:element name="emetteur" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="text" type="xs:string"/>
  </xs:complexType>
</xs:schema>

